@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Bold.eot);
  src: url(./fonts/Montserrat-Bold.woff2) ('woff2');
      src: url(./fonts/Montserrat-Bold.woff) ('format');
      font-weight: bold;
  font-style: normal;
}