.header {
    background-color: $color-text-dark;
    padding: 24px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burger {
        width: 29px;
        cursor: pointer;
        display: none;


        &-line {
            height: 4px;
            background: #ffffff;
            margin: 4px 0;
            border-radius: 4px;
            transition: all .5s ease;
        }

        &:hover .header__burger-line {
            background-color: #FF44FF;
        }
    }
}