.hero__container-wrapper-image {
    background-image: url(./image/bcg.png);
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero__container-image-barber {
    margin: 209px 360px 578.21px;
    position: absolute;
}

.hero__container-text {
    font-family: 'Montserrat', 'sans serif';
    font-weight: bold;
    font-size: 32px;
    width: fit-content;
    margin: 475px 360px 44px;
}

.hero__container-button-book {
    margin: 50px 392px 327px;
    position: absolute;
}