.hero {
  background-image: url("../image/bcg.png");
  background-repeat: no-repeat;


&__info-img {
   margin: 209px 56px 73px;
}

&__info-text {
  font-size: 32px;
  display: block;
  align-items: center;
  text-transform: capitalize;
  margin-left: 56px;
  margin-bottom:60px;
}
  &__info-btn {
    margin-left: 56px;
  }
}