.service {
  padding: 169px 0 159px;
  background-image: url("../image/mignon-hemsley-t577VXPnW-A-unsplash 1.png");
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 88px;
  position: relative;

  &__title {
    margin-top: 160px;
    margin-left: 638px;
  }

  &__list {
    position: relative;
  }

  &__list-bg {
    position: absolute;
    padding: 159px 0 159px;
    margin-left: -115px;

  }

  &__list-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


}





